<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Trainees</title><link rel="stylesheet" th:href="@{/css/style.css}"></head>
<body>
<div class="container">
<h1>Trainees</h1>
<a class="button" th:href="@{/trainees/new}">Add Trainee</a>
<table>
<tr>
<th>ID</th>
<th>Employee</th>
<th>Name</th>
<th>Email</th>
<th>Active</th>
</tr>
<tr th:each="t:${trainees}">
<td th:text="${t.id}"></td>
<td th:text="${t.employeeNumber}"></td>
<td th:text="${t.fullName}"></td>
<td th:text="${t.email}"></td>
<td th:text="${t.active}"></td>
</tr>
</table>
</div>
</body>
</html>